.coverMainImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.coverImageContainer {
  min-width: 60%;
  max-width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.coverImage {
  width: 100%;
  /* height: 250px; */
  margin: 25px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mainPhotoContainer {
  margin-top: -10px;
  width: 160px;
  height: 160px;
  border: 4px solid #fff;
  border-radius: 50%;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.6)
}

.mainPhoto {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.decorativeLine {
  width: 100%;
  height: 2px;
  background-color: #000;
}

/* Responsive Design */
@media (max-width: 768px) {
  .coverImage {
    /* height: 220px; */
    /* Adjust height for smaller screens */
  }

  .mainPhotoContainer {
    width: 130px;
    /* Adjust size for smaller screens */
    height: 130px;
    /* Adjust size for smaller screens */
    bottom: -40px;
    /* Adjust position for smaller screens */
  }
}