.coverMainImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.coverImageContainer {
  min-width: 60%;
  max-width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.coverImage {
  width: 100%;
  /* height: 250px; */
  margin-bottom: 20px;
  /* margin-left: 20px;
  margin-right: 20px; */

  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5); /* TODO: var */
}

.mainPhotoContainer {
  margin-top: -10px;
  border: 4px solid #fff;
  border-radius: 50%;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.6)
}
.mainPhotoOnTop{
  margin-top: -160px;
}
.mainPhotoContainer.m {
  width: 160px;
  height: 160px;
}

.mainPhotoContainer.l {
  width: 200px;
  height: 200px;
}

.mainPhotoContainer.xl {
  width: 240px;
  height: 240px;
}

.mainPhoto {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.decorativeLine {
  width: 100%;
  height: 2px;
  background-color: #000;
}

/* Responsive Design */
@media (max-width: 768px) {
  .coverImage {
    /* height: 220px; */
    /* Adjust height for smaller screens */
  }

  .mainPhotoContainer {
    bottom: -40px;
    /* Adjust position for smaller screens */
  }

  .mainPhotoContainer.m {
    width: 120px;
    height: 120px;
  }

  .mainPhotoContainer.l {
    width: 160px;
    height: 160px;
  }

  .mainPhotoContainer.xl {
    bottom: -80px;
    width: 200px;
    height: 200px;
  }
}