/* Footer.module.css */
.footer {
    margin-top: 3px;
    padding-top: 3px;
    display: flex;
    flex-direction: column;
    direction: rtl;
    align-items: center;
    background-color: #f4f4f4;
    border-top: 1px solid #e0e0e0;
    font-size: 14px;
    font-weight: 600;
  }
  
  .text {
    text-align: center;
    margin: 1px 0;
    color: #333;
    font-weight: 400;
  }
  
  .button {
    margin-top: 6px;
    padding: 8px 20px;
    background: #555;
    color: white;
    font-weight: 600;
    text-decoration: none;
    border-radius: 25px;
    transition: background 0.3s ease, transform 0.3s ease;
  }
  
  .button:hover {
    background: #333;
  }
  